body {
    background-color: #DCDCDC;
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.text-muted {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black
}

.text-primary {
    color: #fed136
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0
}

a {
    color: #fed136
}

a:hover, a:focus, a:active, a.active {
    color: #fec503
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #f7f7f7
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff
}

.navbar-default {
    background-color: white;
    border-color: transparent
}

.navbar-default .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #fec503
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
    border-color: white;
    background: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #8BC34A
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.navbar-default .nav li a:hover {
    color: #8BC34A !important;
    outline: 0
}

.navbar-default .nav li a:focus {
    background: none;
    color: #8BC34A !important;
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #8BC34A !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #8BC34A !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:focus {
    color: #8BC34A !important;
    background: none;
}

.navbar-default.navbar-shrink .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: white;
        padding: 5px;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
        bottom: 0px;
        top: inherit;
        margin: 0px;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background: #fff;
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.3);
        top: 0;
        bottom: inherit;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }

    #vision .container {
        position: absolute;
        top: 150px;
        left: 0px;
        right: 0px;
    }
	
	.visoncol .col-md-4 {
    background-color: white;
    color: black;
    margin: 0px 10px;
    width: 30%;
}
.visoncol .col-md-4{
    background-color: white;
        color: #61615E;
    padding: 0px;
    height: 631px;
	float: left;
}

.visoncol .col-md-4 img{
	    width: 100%;
    object-fit: cover;
    height: 200px;
}

.visoncol .col-md-4 h4{
	    font-size: 36px;
    padding: 50px 0px;
}
.visoncol .col-md-4 button
{
	margin: 50px 0px;
	color: white;
	}
}

header {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }

    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }

    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
	#about{
	        padding: 250px 0px;
		}
}

section {
    padding: 100px 0
}

section h2.section-heading {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}

@media (min-width: 768px) {
    section {
        padding: 150px 0
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#portfolio * {
    z-index: 2
}

@media (min-width: 767px) {

    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table
}

.timeline > li:after {
    clear: both
}

.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline > li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline > li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body > p, .timeline .timeline-body > ul {
    margin-bottom: 0
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%
    }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px
    }

    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }

    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }

    .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px
    }

    .timeline > li .timeline-panel {
        padding: 30px 20px 20px 100px
    }

    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 30px 100px 20px 20px
    }
}

@media (max-width: 768px) {
    #portfolio .owl-carousel .image img {
        opacity: 1 !important;
    }
}

@media (max-width: 767px) {
	#portfolio{
		    height: 1000px !important;
	}
	
	.portfolio-content p {
		width: 90% !important;
		margin: 0 auto;
	}
	
	#vision p{
		width: 90% !important;
				margin: 0 auto;
	}
    #about h2 {
        font-size: 30px !important;
    }

    .bx-wrapper {
        display: none;
    }

    .navbar-default .nav li a {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        color: black;
    }

    .navbar-default .nav li {
        border-bottom: 1px solid #ddd;
    }

    .navbar-default .nav li:first-child, .navbar-default .nav li:last-child {
        border: none;
    }

    .navbar-header {
        background-color: white;
        padding: 10px 0px 4px 10px;
        border-bottom: 1px solid #8BC34A;
    }

    .navbar-nav {
        margin: 0px -15px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 40px;
        height: 5px;
        border-radius: 1px;
    }

    #services {
        padding: 100px 0px 0px 0px;
    }

    .two-cols {
        padding: 0px;
    }

    #portfolio .work-title {
        width: 100%;
        margin-top: 30px;
    }

    .hiring-click {
        background: #fff;
        color: #8BC34A;
        padding: 15px;
        font-size: 16px;
        margin-bottom: 5px;
        width: 100%;
    }

    .hiring-click:focus, .hiring-click:hover {
        color: #8BC34A;
    }

    #is-hiring .content {
        padding-top: 10px;
        color: white;
    }

    #contact {
        padding: 100px 0px 20px 0px;
    }

    .hiring-style {
        position: relative !important;
        display: inline-block !important;
        background: #8BC34A !important;
        padding: 10px 28px 5px 15px !important;
        color: #fff !important;
        text-decoration: none !important;
        font-size: 16px !important;
    }

    .hiring-style::after {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        right: -56px;
        top: 4px;
        background: #fff;
        -webkit-transform: translate(-40px, 0) rotate(45deg);
    }
	
	.navbar-brand {
		padding: 0px;
    font: inherit;
    font-size: 17px !important;
    color: black;
    margin-top: 17px;
    height: auto;
	}
	
	#about{
		    padding: 150px 0px;
	}
	
	#contact .contact-form {
		float: left !important;
		width: 100%;
	}
	
	#contact .contact-content{padding: 0px 30px;}
	
	#accordion-wrapper .slide img {
		width: 200px !important;
		object-fit: cover;
	}
	#accordion-wrapper {
		margin: 0 auto !important;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.navbar-default .navbar-brand{
		padding: 0px;
		font: inherit;
		font-size: 20px !important;
		color: black;
		height: 0px;
		margin-top: 10px;
	}
}

.team-member {
    text-align: center;
    margin-bottom: 50px
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

aside.clients img {
    margin: 50px auto
}

section#contact {
    background-color: #222;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

section#contact ::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact :-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact ::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact :-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    padding: 25px 0;
    text-align: center
}

footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #fed136
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #fed136
}

::selection {
    text-shadow: none;
    background: #fed136
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

#portfolio .owl-carousel .image {
    position: relative;
    width: 100%; /* for IE 6 */
}

#portfolio .owl-carousel .image span {
    position: absolute;
    bottom: 50px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}

#portfolio .owl-carousel .image img {
    opacity: 0.7;
}

/*BXSlider*/
.bxslider img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bx-viewport, .bx-wrapper {
    position: relative;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
}

.bxslider, .bxslider li {
    height: 100% !important;;
}

.bxslider li {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.bx-wrapper .bx-viewport {
    border: none !important;
}

.is-hiring {
    background: #8BC34A;
    color: #fff;
    padding: 3px 6px;
    margin-top: 8px;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    float: left;
}

.is-hiring:hover, .is-hiring:focus {
    background: #f00;
    color: #fff;
}

.popup-content-post {
    height: 440px;
    overflow: scroll;
    background: #8BC34A;
    overflow-x: hidden;
    padding: 30px 20px 0px 20px;
    color: white;
}

.popup-content-post::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: black;
}

.popup-content-post::-webkit-scrollbar {
    width: 9px;
    background-color: #8BC34A;
}

.popup-content-post::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #8BC34A;
}

#myModal .nav-tabs {
    border: none;
}

#myModal .nav-tabs > li.active > a {
    color: white;
    border: none;
    background-color: #8BC34A;
    border-radius: 0px;
}

#myModal .nav-tabs > li {
	margin-bottom: -2px;
    width: 50%;
    text-align: center;
}

#myModal .nav-tabs > li > a {
    color: black;
    border-radius: 0px;
}

#myModal .nav-tabs > li > a:hover {
    background: #8BC34A;
    border: none;
}

#myModal .modal-dialog h1 {
    color: #ec2227;
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0px;
}

#closebutton {
    color: #ddd;
}

#closebutton:hover, #closebutton:focus {
    color: white;
}

.service ul.two-cols li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px;
}

.service ul.two-cols dt {
    font-size: 20px;
    line-height: 40px;
    padding-bottom: 10px;
}

#services {
    background: #8BC34A;
    color: white;
}


#vision {
    background: #8BC34A;
    color: white;
}

.bxslider .banner-name {
    position: absolute;
    left: 20%;
    bottom: 20%;
    font-size: 19px;
    color: black;
    padding: 0px 40px;
}

.bxslider .banner-product {
    display: block;
    font-size: 30px;
    color: white;
    background: #8BC34A;
    font-weight: bold;
    padding: 0px 60px;
}

.bxslider .banner-company {
    padding: 1px 10px;
    background: white;

}

.bxslider .banner-product:hover {
    text-decoration: none;
}

.container-fluid {
    width: 100%;
    height: 100%;
}

.header-unit {
    height: 100%;
    position: relative;
}

#video-container {
    position: absolute;
}

#video-container {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: 0;
}

video.fillWidth {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#vision {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
}

#vision .container {
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
}
.background-content h1{
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    margin: -50px 0px;
}

.background-content a{
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    margin: 20px -60px;
    background-color: rgba(199, 199, 197, 1) !important;
    padding: 10px;
    color: white;
}

.background-content a:hover, .background-content a:focus{
	text-decoration: none;
}
.learn-more{
	border-radius: 50px;
    border: none;
		background-color: rgba(73, 73, 71, 0.63);
	    width: 120px;
    height: 44px;
}

.portfolio-content{
	    text-align: center;
}

.portfolio-content h1{
	font-size: 40px;
}

.portfolio-content 	p{
	    width: 60%;
    margin: 0 auto;
    padding: 20px 0px;
}

#about{
	    background-color: #ccc;
}

#portfolio{
	    background-color: #eee;
}



#vision{
	    color: #61615E;
}

#portfolio .image-group{
	width: 100%;
	position:relative;
}

#portfolio .image-group .image{
	position: absolute;
		z-index: 1;
}

#portfolio .image-group .image img{
    width: 100%;
    float: left;
    height: 500px;
    object-fit: cover;
	opacity: 0.7;
}

#portfolio .image-group-mobile .image img{
	width: 100%;
    height: 500px;
    object-fit: cover;
}

#accordion-wrapper .slide img{
	width: 600px;
	object-fit: cover;
}

#accordion-wrapper .caption{
    background: white;
	width: 500px;
	margin-bottom: 20px;
}

#accordion-wrapper .caption p{
	color: black;
    font-size: 18px;
    font-weight: 700;
}

#accordion-wrapper{
	margin: 0 15px;
}

#contact p{
	padding-top: 15px;
	font-size: 20px;
}

#contact .social{
	padding: 15px;
}

#contact .social i{
	font-size: 20px;
    padding-right: 15px;
}

#contact .contact-form{
	float: right;
}

#contact .contact-form input{
	width: 100%;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    padding: 15px 5px;
    outline: none;
    font-size: 18px;
}

#contact .contact-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-weight: 300
}
#contact .contact-form input::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-weight: 300
}
#contact .contact-form input:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-weight: 300
}
#contact .contact-form input:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-weight: 300
}

#contact .contact-form .contact-message input{
	height: 150px;
    padding: 0 5px 100px;
}
